{{#d-modal-body title="discourse_assign.assign_modal.title" class="assign"}}
{{i18n 'discourse_assign.assign_modal.description'}}
{{user-selector
    single=true
    allowAny=false
    excludeCurrentUser=false
    includeMentionableGroups=false
    hasGroups=false
    usernames=username
    placeholderKey=placeholderKey
    autocomplete="off"}}
{{/d-modal-body}}

<div class="modal-footer">
{{d-button label='discourse_assign.assign_modal.assign' icon=inviteIcon action="assign" class="btn-primary" disabled=disabled}}
</div>
