<section class="user-secondary-navigation group-assignments">
  {{#mobile-nav class="activity-nav" desktopClass="action-list activity-list nav-stacked" currentPath=router._router.currentPath}}
    {{#load-more selector=".activity-nav li" action=(action "loadMore")}}
      {{group-assignments-filter show-avatar=false filter="everyone" routeType=route_type assignment_count=group.assignment_count}}
      {{#each members as |member|}}
        {{group-assignments-filter show-avatar=true filter=member routeType=route_type}}
      {{/each}}
      {{conditional-loading-spinner condition=loading}}
    {{/load-more}}
  {{/mobile-nav}}
</section>
<section class="user-content">
  {{outlet}}
</section>
