<section class="user-secondary-navigation">

</section>
<section class="user-content">
  {{#load-more class="paginated-topics-list" selector=".paginated-topics-list .topic-list tr" action=(action "loadMore")}}
<div>
  {{basic-assigned-topic-list topicList=model
                              hideCategory=hideCategory
                              showPosters=showPosters
                              bulkSelectEnabled=bulkSelectEnabled
                              selected=selected
                              hasIncoming=hasIncoming
                              incomingCount=incomingCount
                              showInserted=(action "showInserted")
                              tagsForUser=tagsForUser
                              unassign=(action 'unassign')
                              reassign=(action 'reassign')}}

  {{conditional-loading-spinner condition=model.loadingMore}}
  </div>
{{/load-more}}
</section>



