<div class='assign-controls'>
  {{#if model.topic_list.assigned_messages_count}}
    {{#link-to 'userPrivateMessages.assigned' user.model class="btn assign-messages-assigned"}}
      {{d-icon "envelope" class="glyph"}}
      {{i18n 'user.messages.assigned_title' count=model.topic_list.assigned_messages_count}}
    {{/link-to}}
  {{/if}}

  {{#if canUnassignAll}}
    {{d-button
      action=(action "unassignAll")
      icon="times"
      label="discourse_assign.unassign_all.title"}}
  {{/if}}
</div>

{{outlet}}
