<div class='assign-controls'>
  {{#if canUnassignAll}}
    {{d-button
      action=(action "unassignAll")
      class="btn-default"
      icon="times"
      label="discourse_assign.unassign_all.title"}}
  {{/if}}
</div>

{{outlet}}
