{{#if displayAssignTab}}
  <ul class ='nav-pills'>
    <li>
      {{#link-to "group.assignments"}}
        {{d-icon "user-plus" class="glyph"}}{{i18n 'discourse_assign.group_assignments'}} ({{group.assignment_count}})
      {{/link-to}}
    </li>
  </ul>
{{/if}}
