<div class="reviewable-filter discourse-assign-assign-to-filter">
  <label class="filter-label">{{i18n "discourse_assign.assigned_to"}}</label>
  {{email-group-user-chooser
    value=additionalFilters.assigned_to
    onChange=(action "updateAssignedTo")
    autocomplete="off"
    options=(hash
      maximum=1
      fullWidthWrap=true
      filterPlaceholder=placeholderKey
      includeGroups=false
      groupMembersOf=allowedGroups
    )
  }}
</div>
