.user-right {
  .assign-controls {
    justify-content: flex-start;
    margin-top: 1em;
  }
}

.select-kit-row.assign {
  .name {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .unassign-label {
      margin-right: 25px;
      display: inline-flex;
      flex-direction: column;
      width: auto;

      .username {
        font-size: $font-down-1;
        color: $primary-medium;
      }
    }
  }
}

.group-assignments .mobile-nav .drop li a {
  display: flex;
}

.group-assignments .mobile-nav a.expander > span {
  display: flex;
  width: 90%;
  img {
    width: 1em;
    height: 1em;
  }
  .assign-count {
    display: none;
  }
  .assign-name {
    display: block;
    padding: 0;
    @include ellipsis;
  }
}
