.user-right {
  .assign-controls {
    justify-content: flex-start;
    margin-top: 1em;
  }
}

.select-kit-row.assign {
  .name {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .unassign-label {
      margin-right: 25px;
      display: inline-flex;
      flex-direction: column;
      width: auto;

      .username {
        font-size: $font-down-1;
        color: var(--primary-medium);
      }
    }
  }
}

.group-assignments .mobile-nav .drop li a {
  display: grid;
}

.group-assignments .mobile-nav a.expander > span {
  display: flex;
  @include ellipsis;
  .assign-count {
    display: none;
  }
  .assign-name {
    margin: 0;
    padding: 0;
  }
  a {
    width: 1em;
    height: 1em;
  }
}

.group-assignments {
  min-width: unset;
  li > a {
    .assign-names,
    .assign-count {
      font-size: $font-0;
    }
    .assign-image,
    .assign-name {
      display: none;
    }
    .assign-username {
      font-weight: normal;
    }
  }
}
