.user-right {
  .assign-controls {
    justify-content: flex-start;
    margin-top: 1em;
  }
}

.select-kit-row.assign {
  .name {
    position: relative;
    overflow: visible;

    .avatar {
      position: absolute;
      top: -1px;
      right: -2px;
    }

    .unassign-label {
      margin-right: 25px;
    }
  }
}
