<div class="control-group pull-left">
  <label class="control-label" for="search-posted-by">{{i18n "search.advanced.assigned.label"}}</label>
  <div class="controls">
    {{user-selector
      excludeCurrentUser=false
      usernames=searchedTerms.assigned
      single=true
      canReceiveUpdates=true
      class="user-selector"
    }}
  </div>
</div>