<div class="control-group">
  <label class="control-label">{{i18n "discourse_assign.admin.groups.manage.interaction.assign"}}</label>
  <label for="visiblity">{{i18n "discourse_assign.admin.groups.manage.interaction.assignable_levels.title"}}</label>

  {{combo-box
    name="alias"
    valueProperty="value"
    value=assignableLevel
    content=assignableLevelOptions
    class="groups-form-assignable-level"
    onChange=(action (mut model.assignable_level))
  }}
</div>
