.assigned-to {
  .d-icon, i.fa {
    margin-right: 0.5em;
    color: $primary-medium;
  }
  .assign-text {
    margin-right: 0.25em;
  }
}

.assigned-to-user {
  display: flex;
  align-items: center;

  img.avatar {
    margin-right: 0.3em;
  }

  .unassign {
    margin-left: 0.5em;
  }
}

.topic-assigned-to {
  min-width: 15%;
  width: 15%;
}

.list-tags.assigned {
  margin-left: 5px;
}

.assign.modal-body .ember-text-field {
  width: 300px;
}
.assign.modal-body .ac-wrap {
  margin-top: 5px;
}

.assign-suggestions {
  height: 25px;
  margin-top: 15px;
  img {
    margin-right: 5px;
    cursor: pointer;
  }
}
