{{#unless canAct}}
  {{#if flaggedPost.topic.assigned_to_user}}
    <div class='cant-act-flagged-post'>
      <div class='cant-act-message'>
        {{i18n "discourse_assign.cant_act"}}
      </div>
      <div class='assigned-to'>
        {{assigned-to user=flaggedPost.topic.assigned_to_user}}
      </div>
    </div>
  {{/if}}
{{/unless}}
